body {
  color: var(--color-text-main);
  background: var(--color-background);
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
  font-weight: var(--agentory-font-weight-body);
  line-height: var(--line-height-body);
  text-rendering: optimizeLegibility;
}

#app {
  min-height: 100vh;
}

*::-webkit-scrollbar-button,
*::-webkit-scrollbar-button:single-button,
*::-webkit-scrollbar-button:vertical:start:decrement,
*::-webkit-scrollbar-button:vertical:end:increment,
*::-webkit-scrollbar-button:horizontal:start:decrement,
*::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
